.about-section{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    margin: 2rem 0rem;
}

.about-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.body1,.body2{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 50%;
    padding: 0rem 1rem;
    justify-content: center;
    align-items: center;
}

.body1-body{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 100%;
    text-align: center;
}


.body1-body span{
    color: violet;
}

.about-head span{
    color: violet;
}

.body2-infm{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    background-color: #26404B;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
    width: 80%;
}

.body2-logo-infm{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.body2-logo{
    font-size: 2rem;
    color: violet;
}

.body2-logo-infm p{
    font-size: 1.1rem;
    color: aquamarine;
}




@media (max-width: 431px){

.about-section{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        margin: 2rem 0rem;
        overflow-x: hidden; 
}

.about-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem;
    row-gap: 1.5rem;
}

.body1,.body2{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    padding: 0rem 1rem;
    justify-content: space-between;
}

.body1-body{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 100%;
}

.body2-infm{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    background-color: #26404B;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
    width: 90%;
}


}